<div class="grid grid-cols-12 gap-x-4 px-4 pt-16">
  <div class="md:col-span-8 col-span-12">
    <mat-card>
      <mat-card-header class="bg-red-500 text-white -mt-8 rounded pt-5">
        <mat-card-title class="font-light">Edit Profile</mat-card-title>
        <mat-card-subtitle class="text-grey-200"
          >Here is a subtitle for this table</mat-card-subtitle
        >
      </mat-card-header>
      <mat-card-content>
        <app-user-update></app-user-update>
      </mat-card-content>
      <mat-card-actions class="px-1 pb-2 flex justify-end">
        <button mat-raised-button color="warn">UPDATE PROFILE</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="md:col-span-4 col-span-12 md:mt-0 mt-16">
    <mat-card>
      <mat-card-header class="-mt-16 flex-col items-center">
        <div>
          <img
            class="rounded-full mat-elevation-z8"
            mat-card-md-image
            src="https://demos.creative-tim.com/material-dashboard-angular2/assets/img/faces/marc.jpg"
            alt=""
          />
        </div>
      </mat-card-header>
      <mat-card-content class="text-center pt-10">
        <h6 class="text-grey-400 text-xs">CEO / CO-FOUNDER</h6>
        <h4 class="text-lg">Alec Thompson</h4>
        <p class="text-grey-400 px-3">
          Don't be scared of the truth because we need to restart the human
          foundation in truth And I love you like Kanye loves Kanye I love Rick
          Owens’ bed design but the back is...
        </p>
      </mat-card-content>
      <mat-card-actions class="px-1 pb-2 flex justify-center">
        <button mat-raised-button color="warn" class="rounded-full px-5">
          FOLLOW
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
