.example-container {
  height: 100vh;
  border: 1px solid #555;

  mat-sidenav {
    width: 260px;
  }
}

.active {
  background-color: red;
  color: white;
  &:hover {
    background-color: red;
  }
}
